.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
instructions/**
.prettierignore
CHANGELOG.md
README.md
esbuild.config.js
node_modules/
